<%-include('../layouts/admin-layout.ejs')%>

<section class="content-main">
  <div class="container">
    <div class="card">
      <div class="card-body">
    <h3>product Form</h3>
    <br />
    <form
      method="post"
      action="/admin/addproduct"
      enctype="multipart/form-data"
    >
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          name="name"
          aria-describedby="emailHelp"
          placeholder="Enter Name"
          pattern="^(?=.*[a-zA-Z])(?!.*\d).+$"
          required
        />
        <br />
      </div>

      <div class="form-group">
        <label for="dropdownInput">Select Category:</label>

        <select class="form-control" id="dropdownInput" name="Category">
          <option value="">Choose Category</option>
          <% category.forEach(items=> { %>
          <option value="<%= items.name %>"><%= items.name %></option>
          <% }) %>
        </select>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Upload Image (Fixed Ratio)</label>
        <input
          type="file"
          class="form-control"
          id="exampleInputPassword1"
          name="Image"
          accept="image/*"
          required
        />
        <div
          id="imagePreviewContainer"
          style="max-width: 20%; max-height: auto"
        >
          <div>
            <img
              id="imgView1"
              src=""
              alt=""
              style="max-width: 300px; max-height: 200px"
            />
          </div>
          <div id="croppedImgContainer1" style="display: none">
            <img id="croppedImg1" src="" alt="" />
          </div>
          <button
            id="saveButton1"
            class="btn btn-primary"
            style="display: none"
          >
            Save
          </button>
        </div>
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="exampleInputPassword1"
          name="description"
          placeholder="Enter Description"
          pattern="^(?=.*[a-zA-Z])(?!.*\d).+$"
          required
        />
      </div>

      <div class="form-group">
        <input
          type="number"
          class="form-control"
          id="exampleInputPassword1"
          name="price"
          placeholder="Enter price"
        />
      </div>

      
      <div class="form-group">
        <input
          type="number"
          class="form-control"
          id="exampleInputPassword1"
          name="stock"
          placeholder="Add Stock"
        />
      </div>

      <br />

      <button type="submit" class="btn btn-primary">Add product</button>
      <div>
        <p style="color: red">
          <%=(typeof message!=='undefined' )?message:""%>
        </p>
        <script>
          setTimeout(function () {
            document.querySelector("p").innerHTML = "";
          }, 3000);
        </script>
      </div>
    </form>
      </div>
    </div>
  </div>
  
    <br />
    <script>
      function viewImage(event) {
        let input = event.target;
        let reader = new FileReader();
    
        reader.onload = function () {
          let dataURL = reader.result;
          let image = document.getElementById("imgView1");
          image.src = dataURL;
    
          // Initialize Cropper.js on the image
          let cropper = new Cropper(image, {
            aspectRatio: 1 / 1, // Set the aspect ratio to 1:1 for square images
            viewMode: 0, // Set the view mode to crop box
            guides: true, // Show the crop guides
            background: false, // Do not show the background behind the image
            autoCropArea: 1, // Set the initial crop area to cover the whole image
            zoomable: false, // Disable zooming to keep the image size fixed
          });
    
          // Show the image cropper container
          let cropperContainer = document.querySelector("#croppedImgContainer1");
          cropperContainer.style.display = "block";
    
          // Show the "Save" button
          let saveButton = document.querySelector("#saveButton1");
          saveButton.style.display = "block";
    
          // Update the cropped image when the "Save" button is clicked
          saveButton.addEventListener("click", function () {
            let croppedCanvas = cropper.getCroppedCanvas();
            let croppedImage = document.getElementById("croppedImg1");
            croppedImage.src = croppedCanvas.toDataURL("image/jpeg", 1.0);
          });
        };
    
        reader.readAsDataURL(input.files[0]);
      }
    
      // Trigger viewImage() when a file is selected
      const fileInput = document.getElementById("exampleInputPassword1");
      fileInput.addEventListener("change", function (event) {
        viewImage(event);
      });
    </script>

    <!-- --------------DISPLAY CATEGORY----------------- -->

    <div class="card mb-4">
      <div class="card-body">
        <div class="table-responsive">
          <div class="table-responsive">
            <table class="table align-middle table-nowrap mb-0">
              <thead class="table-light">
                <tr>
                  <th class="align-middle" scope="col">product</th>
                  <th class="align-middle" scope="col">Description</th>
                  <th class="align-middle" scope="col">price</th>
                  <th class="align-middle" scope="col">Image</th>

                  <th class="align-middle" scope="col">Action</th>
                  <th class="align-middle" scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <% data.forEach(product=> { %>

                <tr>
                  <td><%= product.name %></td>
                  <td>
                    <%= product.description %>
                    <span
                      data-bs-toggle="tooltip"
                      data-bs-placement="top"
                      title=""
                      style="
                        display: inline-block;
                        max-width: 200px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                      "
                    >
                    </span>
                  </td>
                  <td>
                    <%= product.price %>
                    <span
                      data-bs-toggle="tooltip"
                      data-bs-placement="top"
                      title=""
                      style="
                        display: inline-block;
                        max-width: 200px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                      "
                    >
                    </span>
                  </td>
                  <td>
                    <img
                      src="/img/product/<%=product.Image[0] %>"
                      alt="Category Image"
                      style="max-width: 100px; height: auto"
                    />
                    <span
                      data-bs-toggle="tooltip"
                      data-bs-placement="top"
                      title=""
                      style="
                        display: inline-block;
                        max-width: 200px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                      "
                    >
                    </span>
                  </td>

                  <td>
                    <div class="dropdown">
                      <button
                        type="button"
                        class="btn p-0 dropdown-toggle hide-arrow"
                        data-bs-toggle="dropdown"
                      >
                        <i class="bx bx-dots-vertical-rounded"></i>
                      </button>
                      <div class="dropdown-menu">
                        <% if(product.is_listed==true){%>

                        <a
                          class="dropdown-item"
                          href="/admin/productList?id=<%=product._id %>"
                          ><i class="bx bx-edit-alt me-1"></i> List</a
                        >
                        <% } else { %>

                        <a
                          class="dropdown-item"
                          href="/admin/productList?id=<%=product._id %>"
                          ><i class="bx bx-trash me-1"></i> Unlist</a
                        >
                        <% } %>
                        <a
                          class="dropdown-item"
                          href="/admin/productEdit?id=<%=product._id %>"
                          ><i class="bx bx-trash me-1"></i> Edit</a
                        >
                      </div>
                    </div>
                  </td>
                  <td>
                    <% if(product.is_listed==true){%>
                      <span style="font-size: small;" class="badge badge-pill badge-danger">Deactive</span>

                    <% } else { %>
                      <span style="font-size: medium;"  class="badge badge-pill badge-success">Active</span>
          
                 

                    <% } %>
                  </td>
                </tr>
              </tbody>
              <% }) %>
            </table>
          </div>
        </div>
        <!-- table-responsive end// -->
      </div>
    </div>
  </div>
</section>

<%-include('../layouts/adminfooter.ejs')%>
