<%-include('../layouts/admin-layout.ejs')%>


<body>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="thead">
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Edit</th>
                <th>Status</th> <!-- Added status column -->
              </tr>
            </thead>
            <tbody id="table-body">
              <% udata.forEach((item) => { %>
              <tr>
                <td><%= item.name %></td>
                <td><%= item.email %></td>
                <td><%= item.phone %></td>
                <td><%= item.address[0].city %></td>
                <td>
                  
                  <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                      <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu">
                      <% if(item.is_blocked==true){%>
    
                      <a class="dropdown-item" href="/admin/block?id=<%=item._id %>"
                        ><i class="bx bx-edit-alt me-1"></i> Unblock</a
                      >
                      <% } else { %>
    
                      <a class="dropdown-item" href="/admin/block?id=<%=item._id %>"
                        ><i class="bx bx-trash me-1"></i> Block</a
                      >    
                      <% } %>         
                    </div>
                  </div>
              </td>
              <td>
                
                  <% if(item.is_blocked==true){%>
                    <span class="badge badge-pill badge-danger">Deactive</span>
                    
    
                    <% } else { %>
                      <span class="badge badge-pill badge-success">Active</span>
    
                      <% } %>
    
              </td>
              </tr>
            </tbody>
            <% }); %>

      </div>
    </div>
    </div>
  </div>
  
</body>



  
      
<%-include('../layouts/adminfooter.ejs')%>